a.tooltipster {
    color: black;
    text-decoration: underline;
}

body {
    background: url('imgs/book-bg.jpg');
}

h1 {
    text-align: center;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
}

div.story {
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 10%;
    margin-left: 10%;
}

#startimage {
    background-image: url('imgs/getstarted.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}